body {
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
    color: #222;
    background: #fff;
    display: grid;
    grid-template-rows: repeat(5, auto);
    margin: 0px;
    min-width: 400px;
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    padding: 6px;
    height: 60px;
    align-content: center;
}

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#gray-font {
    color: rgb(112, 117, 122);
}

/*top left corner*/

.top-left {
    display: flex;
    justify-self: flex-start;
}

.about {
    padding: 5px;
    margin-left: 15px;

}

.store {
    padding: 5px;
    margin-left: 5px;
}

/* top right corener */

.top-right {
    display: flex;
    justify-self: flex-end;
    margin-top: 5px;
}

.sign-in {
    cursor: pointer;
    margin: 2px 8px 0 8px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: #1a73e8;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 16px;
}

.sign-in:hover {
    background: #2b7de9;
}

.apps {
    margin-left: 10px;
    padding: 5px;
}

.gmail {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.images {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 15px 0 5px;
}

/* logo */
.logo {
    aspect-ratio: auto 272 / 92;
    justify-self: center;
    align-self: flex-end;
}

.google-logo {
    display: grid;
    height: 300px;
}

/* search bar and stuff */

.search {
    display: grid;
}

.search-bar-box {
    display: flex;
    border: 1px solid #c4c7ce;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
    max-width: 584px;
    justify-self: center;
}
.mag-glass {
    margin-top: 12px;
    margin-left: 15px;
    opacity: 0.5;
}

.search-bar {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    margin-top: 5px;
    margin-left: 10%;
    height: 34px;
    font-size: 16px;

}

.submit {
    justify-self: center;
    margin-top: auto;
    margin: 11px 4px;
    padding: 0px 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3c4043;
    
}

.google-search {
    border-radius: 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    cursor: pointer;
    line-height: 27px;
    text-align: center;
    height: 36px;
    min-width: 54px;
    margin: 10px;
}

.iml {
    border-radius: 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    cursor: pointer;
    line-height: 27px;
    text-align: center;
    height: 36px;
    min-width: 54px;
    margin: 10px;
}

.google-search:hover {
    border: 1px solid #c0c3c7;
}
.iml:hover {
    border: 1px solid #c0c3c7;
}

.empty {
    display: grid;
    height: 30vh;
    grid-template-columns: auto;
}

.new-object {
    display: grid;
    justify-self: center;
    align-self: flex-start;
    grid-template-columns: auto auto;
}

.new-image {
    margin-right: 5px;
}

.new-link {
    align-self: center;
    color: #1a0dab;

}

footer {
    display: grid;
    grid-template-areas: 
                    "b a c";
    grid-template-columns: repeat(3, auto);
    background: #e2e2e2;
    box-sizing: border-box;
    margin-top: auto;
    height: 5vh;
    
}

.business {
    grid-area: b;
    display: flex;
    justify-self: flex-start;
    align-self: center;
}

.bottom-elem {
    padding: 15px;
}


.eco {
    grid-area: a;
    justify-self: center;
    align-self: center;

}

.eco-image {
    width: 12.25px;
    height: 14px;
    margin-right: 6px;
}

.privacy {
    grid-area: c;
    display: flex;
    justify-self: flex-end;
    align-self: center;
}

.button {
    border: none;
    background: none;
}
.buttom:hover {
    cursor: pointer;
    text-decoration: underline;
}